snowflake-connector-python[pandas] 


streamlit==1.25.0

#pyarrow==10.0.1


#my_cnx = snowflake.connector.connect(**streamlit.secrets["snowflake"])
#my_cur = my_cnx.cursor()
#my_cur.execute("select * from pc_rivery_db.public.fruit_load_list")
#my_data_row = my_cur.fetchone()
streamlit.text("List")
streamlit.text(my_data_row)
